<div class="form-group">
    <label>Damage Type</label>
    <span class="form-fields">
        <select name="flags.foundry-dumping-ground.damageType">
            {{selectOptions damageTypeOptions selected=damageType}}
        </select>
    </span>
</div>
