<h2><img src={{condition.img}} width="30" height="30" style="border:0;" />Blind</h2>
<p><i>Blind</i> causes foes to suffer -2 to all actions that require sight or -4 with a raise. Please choose the degree of success the caster had.</p>