<div class="standard-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"></input>
    </div>
    <div class="form-group">
        <label for="cardString">Card String</label>
        <input type="text" name="cardString"></input>
    </div>
    <div class="form-group">
        <label for="initiative">Initiative</label>
        <input type="text" name="initiative"></input>
    </div>
    <div class="form-group">
        <label for="img">Image</label>
        <file-picker name="img" type="image"></file-picker>
    </div>
    <div class="form-group">
        <label for="hidden">Hidden</label>
        <input type="checkbox" name="hidden"></input>
    </div>
    <footer class="form-footer">
        <button type="button" data-action="add">Add</button>
        <button type="button" data-action="cancel">{{localize "Cancel"}}</button>
    </footer>
</div>