.fdg h4 {
    border-bottom: 1px solid var(--color-warm-2);
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    >img {
        margin-right: 10px;
    }
}

.fdg-dialog {
    gap: 0;
}

.fdg .wg-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    max-height: 300px;
    overflow-y: auto;
}

.fdg .filter-row {
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
    max-width: fit-content;

    >label {
        text-wrap-mode: nowrap;
    }

    >select {
        max-height: fit-content;
    }
}

.fdg .summon-traits {
    display: grid;
    gap: 0.5rem;
    max-height: 300px;
    overflow-y: auto;

    &.attributes {
        grid-template-columns: repeat(5, 1fr);
    }

    &.skills {
        grid-template-columns: repeat(3, 1fr);
    }
}